html {
    background: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
}
body {
    margin: 6.5%;
}
h1, h2 {
    text-align: center;
}
h1 {
    text-decoration: underline;
}
h2 {
    margin: 3%;
}
p {
    margin-left: 10%;
    font-size: 20px;
    font-weight: bold;
}
.data {
    font-style: italic;
}
#feladat {
    text-decoration: underline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(0.5);
}